body {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    background-image: url(../img/simple_dashed_@2X.png);
    min-width: 250px;
}
.container {
    background-image: url("../img/Xperia-Z4-Wallpaper.jpg");
    background-size: cover;
}
.p {
    padding-top: 50px;
    padding-bottom: 50px;
}
.kitu {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 70%;
}
.article {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px;
    background-color: azure;
    border-color: lawngreen;
    width: 66.8%;
    color: white;
    font-size: 18px;
}
.story {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px;
    border-color: lawngreen;
    width: 66.8%;
    min-height: 45%;
    color: white;
    font-size: 2em;
}
.form {
    float: left;
}
.mypic {
    width: 16.6%;
    height: 40%;
}
span {
    color: lawngreen;
}
.img {
    border: 5px;
    border-color: deeppink;
    height: 50%;
}
ul {
    border-bottom: solid 6px;
    border-color: lawngreen;
    border-bottom-right-radius: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16.6%;
    min-width: 250px;
    background-color: black;
}
li a {
    display: block;
    color: lawngreen;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

li a:hover {
    border-right: solid 2px;
    border-color: lawngreen;
    background-color: darkolivegreen;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
}
.footer {
    clear: both;
    width: auto;
}
.blog {}
.project {
    font-size: 18px;
    color: white;
    width: 66.66667%;
}
.sidebar {
    color: white;
    font-size: 18px;
}
a {
    color: lawngreen;
}

/* the slidedown animation css part*/

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    65% {
        -webkit-transform: translateY(-4%);
    }
    80% {
        -webkit-transform: translateY(4%);
    }
    95% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50% {
        transform: translateX(-8%);
    }
    65% {
        transform: translateX(4%);
    }
    80% {
        transform: translateX(-4%);
    }
    95% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50% {
        -webkit-transform: translateX(-8%);
    }
    65% {
        -webkit-transform: translateX(4%);
    }
    80% {
        -webkit-transform: translateX(-4%);
    }
    95% {
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
table {
    border: 2px;
    border-radius: 18px;
    border-color: lawngreen;
    background-color: azure;
}
